# Node
node_modules/
npm-debug.log
yarn-error.log

# TypeScript
*.tsbuildinfo
dist/

# CDK
cdk.out/

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*

# Build
*.js
*.js.map

# Lambda
lambda/node_modules/
lambda/*.js
lambda/*.js.map
